API_ID=22201102
API_HASH=4fc34c6764a08782139c82c98f4e0f7f
BOT_TOKEN=5370540312:AAHd75uABzTcB9OEvtvDDZILghTgzG1lzSQ
LOGGER_ID=-1001571729582
MONGO_DB_URI=mongodb+srv://proceed58:proceed58@cluster0.p5s9ym5.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=5527506052
STRING_SESSION=BAFSww4APF4ISVZklWccc9ISzAhnntTIEWW0QGAOMQHf0AXgPbU7HcGcJk1X8WMODxR2UR82DDuX1HkqX4w7rdpdSFPOw8fKLs6P1ZCuu7vTcWdv8gVId_eWQMDXm1SAMaNkEvJnXLM5sVHjorjtg1y_zrOBXQKvlGg8r0IeJZLl4ojieH2-q0ipsqW6bR7fP2TPt_jrisT-IE2tJv0zEwNzL3RjtKH-MkoxxdAZ5aiQY4rB1UL6g66SX2V8uLrT7r_mGjGO_HmTh-5KNsbOKbCdcT2hpvug9oGDVxJnjnBuGS48-tXiQLlwua76eVUwfTLd2s5BZnTZ2JnBaoexXqumGmXw2QAAAAHlG5KrAA
